<%= render partial: 'shared/errors_messages_detail',
  locals: { record: record, items_errors: [:base, :detalle] }
%>
<div class="small-12 large-12 column">
  <div class="row">
    <div class="panel small-12 medium-10 large-6 columns">
      <div class='panel-title light-blue small-12'>
        <span>Lista De Contactos</span>
      </div>
      <div class="panel-content row">
        <div class="small-12 columns">
          <div class="large-10 small-12 medium-12 colums end">
            <%= render partial: 'inputs/text_field', layout: 'layouts/input',
              locals: {
                model: model, label_text: 'Nombre*', field: :nombre,
                object: record
              }
            %>
            <%= render partial: 'inputs/text_area_field', layout: 'layouts/input',
              locals: {
                model: model, label_text: 'Descripción', field: :descripcion,
                object: record
              }
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'lists/list_contacts_form', locals: {record: record} %>
</div>
