<% template_name = "list_contacts_items" %>
<div class="row">
  <div class='panel small-12 medium-10 large-6 columns'>
    <div class='panel-title light-blue small-12 medium-12 large-12'>
      <span>Contactos</span>
    </div>
    <div class='panel-content has_many'>
      <div class='headers hide-on-med-and-down'>
        <div class='row'>
          <div class='large-2 columns'><span>Nº</span></div>
          <div class='large-4 columns'><span>Numero</span></div>
          <div class='large-4 columns'><span>Nombre</span></div>
        </div>
      </div>
      <div id="<%= template_name %>" class='has-many-items'>
        <% record.list_contacts.each_with_index do |detail, i| %>
          <%= render 'lists/list_contacts_item_form', item_number: i + 1, is_template: false,
            record: record, detail: detail, is_new_record: false
          %>
        <% end %>
      </div>
      <div class='row'>
        <a href='#' class='add-has_many fa fa-plus' data-target-id="<%= template_name %>" id="add-<%= template_name %>"></a>
      </div>
      <div id="<%= template_name %>_template" style='display:none;'>
        <%= render 'lists/list_contacts_item_form', item_number: nil,
            is_template: true, detail: nil, record: record, is_new_record: false
        %>
      </div>
    </div>
  </div>
</div>