<%
  item_number ||= '_item-number_'
  name = "list[list_contacts_attributes][#{item_number}]"
  msg = Hash.new
  if is_template
    template_input_class = "template_input"
    name_prefix = ""
    data = name
  else
    template_input_class = ""
    name_prefix = name
    data = ""
  end
  if detail.present?
    id = detail.id
    nombre = detail.contact.try(:nombre)
    contact_id = detail.contact_id
    if detail.present? && detail.errors.present?
      detail.errors.keys.each do |key|
        msg[key] =  detail.errors.messages[key].first.humanize
      end
    end
  else
    id = nombre = contact_id = nil
  end
%>
<div class="has_many has_many-item" data-item-number="<%=item_number%>" id="list_contact_<%=item_number%>">
  <div class="row">
    <div class="small-12 medium-12 large-2 columns item-number inputs">
      <input type="text" class="item-number" name="item_number" value="<%=item_number%>" disabled>
    </div>
    <div class="small-12 medium-12 large-4 columns inputs">
      <%= render partial: 'inputs/chosen_tag', layout: 'layouts/input_tag',
        locals: {
          name_prefix: "#{name_prefix}[contact_id]", label_text: 'Numero',
          options: options_from_collection_for_select(Contact.all, :id, :numero, contact_id),
          clases: [template_input_class, 'contact_id'].join(' '), msg_error: msg[:contact_id],
          data: {
            template_name: "#{data}[contact_id]",
            'placeholder' => '--- Numero ---'
          }
        }
      %>
    </div>
    <div class="small-12 medium-12 large-4 columns inputs">
      <%= render partial: "inputs/text_field_tag", layout: 'layouts/input_tag',
        locals: {
          name_prefix: "#{name_prefix}[nombre]", label_text: 'Nombre', value: nombre,
          clases: template_input_class + " nombre",
          data: {
            template_name: "#{data}[nombre]",
            readonly: true, disabled: true
          }
        }
      %>
    </div>
    <div class="inputs">
      <%= render partial: "inputs/hidden_field_tag",
        locals: {
          name_prefix: "#{name_prefix}[id]", value: id,
          clases: template_input_class + " id",
          data: {
            template_name: "#{data}[id]"
          }
        }
      %>
    </div>
    <% unless is_new_record %>
      <div class='small-12 medium-12 large-1 columns inputs end delete'>
        <% if is_template %>
          <a class="delete-has_many fa fa-close"></a>
        <% else %>
          <div class="delete-has_many-checkbox">
            <%= hidden_field_tag("#{name_prefix}[_destroy]", "0") %>
            <%=check_box_tag("#{name_prefix}[_destroy]", "1")%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
