<%= javascript_include_tag "venbrain/views/lists" %>
<div class="small-12 medium-12 large-12 column">
  <%= render partial: 'shared/flash_messages', locals: {flash: flash} %>
  <%=
    render partial: 'lists/list_form', layout: "layouts/form",
           locals: {
             record: @list,
             model: :list,
             url: @url
           }
  %>
</div>