<div class="row">
  <div class="columns small-12 large-12 large-centered">
    <%= link_to "Nueva Lista", new_list_path, class: "button black" %>
    <%= link_to "Contactos", contacts_path, class: "button black" %>
    <%= link_to "Enviar SMS", send_sms_index_path, class: "button black" %>
    <table id="lists" class="table" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">
            Listas De Contactos
          </th>
          <th class="action_column" />
        </tr>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th class="action_column" />
        </tr>
      </thead>
      <tbody>
        <% @lists.each do |list| %>
          <tr id="list_<%= list.id %>">
            <td><%= list.try(:nombre) %></td>
            <td><%= list.try(:descripcion) %></td>
            <td class="action_column">
              <div class="action_links" >
                <%= link_to "", list, :class => "fa fa-search view_link" %>
                <%= link_to "", edit_list_path(list), class: 'fa fa-pencil edit_link' %>
                <%= link_to "",  list, method: :delete, class: 'fa fa-trash delete_link', data: { confirm: '¿Está seguro de que quiere eliminar esto?'} %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
