<p id="notice"><%= notice %></p>
<div class="row">
  <%= link_to 'Atras', lists_path, class: 'button black' %>
  <%= link_to 'Editar', edit_list_path(@list), class: 'button black' %>
</div>
<div class="row">
  <div class='panel large-8 columns'>
    <div class='panel-title light-blue small-12'>
      <span>Lista De Contactos</span>
    </div>
    <div class='panel-content row'>
      <div class='small-12 large-12 columns'>
        <table id="list" class="table large-6" border="0" cellspacing="0" cellpadding="0">
          <thead>
          	<tr>
              <th colspan="2">
                Lista de Contactos
              </th>
            </tr>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @list.try(:nombre) %></td>
              <td><%= @list.try(:descripcion) || '---' %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class='panel large-8 columns'>
    <div class='panel-title light-blue small-12'>
      <span>Contactos En la Lista</span>
    </div>
    <div class='panel-content row'>
      <div class='small-12 large-12 columns'>
        <table id="contacts" class="table" border="0" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th colspan="2">
                Contactos
              </th>
            </tr>
            <tr>
              <th>Nombre</th>
              <th>Número</th>
            </tr>
          </thead>
          <tbody>
          	<% @list.list_contacts.each do |list_contact| %>
	            <tr>
	              <td><%= list_contact.contact.try(:nombre) || '---' %></td>
	              <td><%= list_contact.contact.try(:numero) %></td>
	            </tr>
	        <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>