<%
  item_number ||= '_item-number_'
  name = "list_contacts[#{item_number}]"
  if is_template
    template_input_class = "template_input"
    name_prefix = ""
    data = name
  else
    template_input_class = ""
    name_prefix = name
    data = ""
  end
  id = descripcion = list_id = nil
%>
<div class="has_many has_many-item" data-item-number="<%=item_number%>" id="list_contact_<%=item_number%>">
  <div class="row">
    <div class="small-12 medium-12 large-1 columns item-number inputs">
      <input type="text" class="item-number" name="item_number" value="<%=item_number%>" disabled>
    </div>
    <div class="small-12 medium-12 large-5 columns inputs">
      <%= render partial: 'inputs/chosen_tag', layout: 'layouts/input_tag',
        locals: {
          name_prefix: "#{name_prefix}[list_id]", label_text: 'Lista De Contacto',
          options: options_from_collection_for_select(List.all, :id, :nombre, list_id),
          clases: [template_input_class, 'list_id'].join(' '),
          data: {
            template_name: "#{data}[list_id]",
            'placeholder' => '--- Lista De Contacto ---'
          }
        }
      %>
    </div>
    <div class="small-12 medium-12 large-5 columns inputs">
      <%= render partial: "inputs/text_field_tag", layout: 'layouts/input_tag',
        locals: {
          name_prefix: "#{name_prefix}[descripcion]", label_text: 'Descripción', value: descripcion,
          clases: template_input_class + " descripcion",
          data: {
            template_name: "#{data}[descripcion]",
            readonly: true, disabled: true
          }
        }
      %>
    </div>
    <div class="inputs">
      <%= render partial: "inputs/hidden_field_tag",
        locals: {
          name_prefix: "#{name_prefix}[id]", value: id,
          clases: template_input_class + " id",
          data: {
            template_name: "#{data}[id]"
          }
        }
      %>
    </div>
    <% unless is_new_record %>
      <div class='small-12 medium-12 large-1 columns inputs end delete'>
        <% if is_template %>
          <a class="delete-has_many fa fa-close"></a>
        <% else %>
          <div class="delete-has_many-checkbox">
            <%= hidden_field_tag("#{name_prefix}[_destroy]", "0") %>
            <%=check_box_tag("#{name_prefix}[_destroy]", "1")%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
