<% template_name = "list_contacts_items" %>
<div id="partial_list_contact" class="row">
  <div class='panel small-12 medium-10 large-8 columns'>
    <div class='panel-title light-blue small-12 medium-12 large-12'>
      <span>Listas De Contactos</span>
    </div>
    <div class='panel-content has_many'>
      <div class='headers hide-on-med-and-down'>
        <div class='row'>
          <div class='large-2 columns'><span>Nº</span></div>
          <div class='large-4 columns'><span>Lista De Contactos</span></div>
          <div class='large-5 columns center'><span>Descripción</span></div>
        </div>
      </div>
      <div id="<%= template_name %>" class='has-many-items'>
      </div>
      <div class='row'>
        <a href='#' class='add-has_many fa fa-plus' data-target-id="<%= template_name %>" id="add-<%= template_name %>"></a>
      </div>
      <div id="<%= template_name %>_template" style='display:none;'>
        <%= render 'send_sms/list_contacts_item_form', item_number: nil,
            is_template: true, detail: nil, record: nil, is_new_record: false
        %>
      </div>
    </div>
  </div>
</div>