<%= javascript_include_tag "venbrain/views/send_sms" %>
<div class="small-12 medium-12 large-12 column">
  <%= render partial: 'shared/flash_messages', locals: {flash: flash} %>
  <form action="send_sms">
	  <div class="row">
	    <div class="panel small-12 medium-10 large-8 columns">
	      <div class='panel-title light-blue small-12'>
	        <span>Mensaje</span>
	      </div>
	      <div class="panel-content row">
					<div class="row">
					  <div class="small-5 columns field-label">
					    <label class="label">Agrupar Por</label>
					  </div>
					  <div class="small-7 columns field-input">
					    <div class="small-12 columns">
					      <select id="agrupar" class="chosen" name="agrupar">
					        <option value="">--- Seleccione una opcion ---</option>
					        <% ListContact.agrupar.each do |a| %>
					          <option value="<%= a[:id] %>" <%= a[:id] == ListContact::LISTA ? 'selected' : '' %>>
					            <%= a[:text] %>
					          </option>
					        <% end %>
					      </select>
					    </div>
					  </div>
					</div>
	        <div class="row">
					  <div class="small-5 columns field-label">
					    <label class="label">Mensaje</label>
					  </div>
					  <div class="small-7 columns field-input">
					    <div class="small-12 columns">
					    	<textarea name="mensaje" id="mensaje" maxlength="200"></textarea>
					    </div>
					  </div>
					</div>
	      </div>
	    </div>
	  </div>
  	<%= render partial: 'send_sms/list_contacts_form' %>
  	<%= render partial: 'send_sms/contacts_form' %>
	  <div class="actions input_action">
	    <input class="button" type="submit" name="commit" value="Enviar">
	    <a href="/" class="button black cancel">Cancelar</a>
	  </div>
  </form>
</div>