/*Flashes*/
div.flashes {
  display: block;
}

div.flashes div.flash {
  padding: 15px 20px 15px 70px;
  position: static;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 0px 1px #FAFAFA;
}

div.flashes div.flash a {
  width: 16px;
  height: 16px;
  right: 10px;
  position: absolute;
  margin-right: 14px;
  margin-top: -14px;
  cursor: pointer;
}

div.flash.flash_notice {
  background: image-url("images/success.png") no-repeat scroll 20px center, linear-gradient(to bottom, #dce9dd 0%, #ccdfcd 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #adcbaf;
  color: #416347;
}

div.flash.flash_notice a {
  background: image-url("images/close_flash_notice.png");
}

div.flash.flash_notice a:hover {
  background: image-url("images/close_flash_notice_hover.png");
}

div.flash.flash_notice a:active {
  background: image-url("images/close_flash_notice_pressed.png");
}

div.flash.flash_alert,
div.flash.flash_warning,
div.flash.flash_advice {
  background: image-url("images/warning.png") no-repeat scroll 20px center, linear-gradient(to bottom, #F7F1D3 0%, #F5EDC5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #EEE098;
  color: #CB9810;
}

div.flash.flash_alert a,
div.flash.flash_warning a,
div.flash.flash_advice a {
  background: image-url("images/close_flash_alert.png");
}

div.flash.flash_alert a:hover,
div.flash.flash_warning a:hover,
div.flash.flash_advice a:hover {
  background: image-url("images/close_flash_alert_hover.png");
}

div.flash.flash_alert a:active,
div.flash.flash_warning a:active,
div.flash.flash_advice a:active {
  background: image-url("images/close_flash_alert_pressed.png");
}

div.flash.flash_error {
  background: image-url("images/error.png") no-repeat scroll 20px center, linear-gradient(to bottom, #F5E4E4 0%, #F1DCDC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #E0C2C0;
  color: #B33C33;
}

div.flash.flash_error a {
  background: image-url("images/close_flash_error.png");
}

div.flash.flash_error a:hover {
  background: image-url("images/close_flash_error_hover.png");
}

div.flash.flash_error a:active {
  background: image-url("images/close_flash_error_pressed.png");
}
/*Flashes*/
