@font-face {
    font-family: 'ostrich';
    src: font-url('ostrich-black-webfont.eot');
    src: font-url('ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('ostrich-black-webfont.woff') format('woff'),
         font-url('ostrich-black-webfont.ttf') format('truetype'),
         font-url('ostrich-black-webfont.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ostrich-b';
    src: font-url('ostrich-bold-webfont.eot');
    src: font-url('ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('ostrich-bold-webfont.woff') format('woff'),
         font-url('ostrich-bold-webfont.ttf') format('truetype'),
         font-url('ostrich-bold-webfont.svg#ostrich_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: font-url("fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"),
         font-url("fontawesome-webfont.woff2?v=4.5.0") format("woff2"),
         font-url("fontawesome-webfont.woff?v=4.5.0") format("woff"),
         font-url("fontawesome-webfont.ttf?v=4.5.0") format("truetype"),
         font-url("fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
}
