.page_container {
  font-family: arial,sans-serif;
  font-size: 12px;
}

form span.select2 {
  width: 100% !important;
}

div.panel form, div.panel ul, div.panel li, div.panel select,
div.panel input, div.panel span.prefix {
  font-family: arial,sans-serif;
  font-size: 12px;
}

div.panel .row input, div.panel .row select,
div.panel div.has_many.has_many-item li input{
  margin: 0;
  height: 1.9rem;
}

form .actions {
  margin: auto;
}

.button {
    background-color: black;
    color: white;
    font-family: 'ostrich',arial;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

div.panel span.inline-errors {
    color: #932419;
    font-weight: bold;
    margin: 0.3em 0 0 5%;
    text-transform: capitalize;
}

div.panel div.has_many li:last-child a.delete-has_many {
  padding: 5px;
}

div.panel div.has_many > div.row > div.inputs {
  text-align: center;
  padding-bottom: 0;
}

div.has-many-items div.has_many div.inputs,
div.has-many-items div.has_many div.headers div.columns {
  padding-left: 1px;
  padding-right: 1px;
}
div.panel div.row input.autonumeric {
  text-align: right;
}

div.panel span.prefix {
  line-height: 1.9rem;
  height: 28px;
}

div.panel table.fv_tabla input {
  width: 30%;
}

a.delete-has_many {
    background-color: #ff3d00;
    border-radius: 50%;
    content: "";
    font-weight: bold;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    width: 2.5em;
    color: white;
    float: left;
    display: none;
}

div.item-number input {
  text-align: center;
}

a.delete-has_many:hover {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

div.has-many-items div:hover a.delete-has_many {
  display: block;
}

.add-has_many.fa.fa-plus {
    background-color: #2e7d32;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;
}

div.panel .small-block-grid-9 > li.delete {
  width: auto;
}

div.panel div.totales-facturas {
  float: right;
}

div.panel div.totales-facturas label,
div.panel div.totales-facturas div.column > span {
  font-weight: bold;
  background-color: transparent;
  font-size: 0.875rem;
  text-align: left;
  padding: unset;
  color: black;
  padding: 0.5em;
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none;
  }
  .show-on-med-and-down {
    display: block;
  }
  a.delete-has_many {
    float: right;
    margin-top: 1em;
  }
  div.panel div.has_many > div.row > div.inputs.item-number {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.4em;
    margin-top: 1em;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large {
    display: none;
  }
}

.not-active {
  pointer-events: none;
 cursor: default;
}
