@mixin color-panel($color) {
  border-right: 4px solid $color;
  span {
    background-color: $color;
  }
}

div.panel {
  padding: 0px;
  margin-top: 25px;
  font-family: arial, sans-serif;
  font-size: 12px;
  label.label {
    font-family: arial,sans-serif;
    font-size: 12px;
    background-color: white;
    color: #6a6a6a;
    padding: 9px;
    text-align: right;
    width: 100%;
    white-space: normal;
    display: inline-block;
    margin-left: 5px;
    padding-right: 25px;
  }
  span.label{
    font-size: 1.2em;
    font-weight: bold;
  }
  .panel-title {
    margin: 0px;
    padding: 9px 0 30px 0px;
    span {
      color: white;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;
    }
  }
  div.panel-title.yellow {
    @include color-panel(#f3d527);
  }
  div.panel-title.light-blue {
    @include color-panel(#00a2ff);
  }
  div.panel-title.eerie-black {
    @include color-panel(#1B1B1B);
  }
  div.panel-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  div.panel-content.has_many div.headers div,
  div.row, div.column, div.columns {
    padding: -1px;
    margin: 0px;
  }
  div.columns.small-centered {
    margin: 0 auto;
  }
  div.submit {
    padding: 0.5em;
    input {
      height: auto;
    }
  }
}

.has_many.has_many-item-view {
  border: 1px solid white;
  padding: 0.5rem;
}

div.row {
  max-width: none;
}

table.table-white {
  width: 95%;
  border: none;
  th {
    text-align: left;
    border-right: 2px solid #f5f5f5;
    color: #939393;
    font-weight: normal;
    text-transform: capitalize;
  }
  td {
    background: #fff;
    padding: 5px;
    border-bottom: 2px solid #f5f5f5;
    color: black;
  }
}
