<%
  include_blank ||= '--- Seleccione una opción ---'
  multiple ||= false
  data ||= ''
  collection ||= []
  selected ||= nil
  disabled ||= false
%>
<%= select(model, field, collection, {include_blank: include_blank, selected: selected},
  {multiple: multiple, data: data, class: 'chosen', disabled: disabled })
%>
