<%
  name_prefix ||= ''
  options ||= ''
  clases ||= ''
  data = data.merge({'select-type' => 'chosen'})
  prompt ||= '--- Selecciones una opción ---'
%>
<%= select_tag(name_prefix, options, class: "#{clases} chosen".squish, data: data, prompt: prompt) %>
