<%
  name_prefix ||= ''
  value ||= ''
  clases ||= ''
  data ||= ''
  disabled ||= false
  readonly ||= false
%>

<%= hidden_field_tag(name_prefix, value, class: clases, data: data,
                     disabled: disabled, readonly: readonly)
%>
