<%
  include_blank ||= false
  multiple ||= false
  data ||= ''
  choosen ||= ''
  prompt ||= nil
  collection ||= []
%>
<%=select(model, field, collection, {include_blank: include_blank, prompt: prompt},
  {multiple: multiple, data: data, class: choosen})
%>
