<% if record.errors.present? %>
  <% items_errors.each do |errors| %>
    <% if record.errors.messages[errors].present? %>
      <% record.errors.messages[errors].each do |message| %>
        <div class="flashes">
          <div class="flash flash_alert">
            <%= message %>
            <a></a>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
