<div class="row">
  <div class="flashes small-12">
    <% flash.each do |name, msg| %>
      <div class="flash flash_<%=name%>">
        <%= msg %>
        <a></a>
      </div>
    <% end %>
  </div>
</div>
