<%=
  case field_type
  when :text
    value
  when :boolean
    if value.blank?
      I18n.t('false')
    else
      I18n.t(value)
    end
  when :short_date
    I18n.localize(Date.parse(value), :format => "%d/%m/%Y")
  end
%>