<%= render partial: 'shared/errors_messages_detail',
  locals: { record: record, items_errors: [:base, :detalle] }
%>
<div class="small-12 large-12 column">
  <div class="row">
    <div class="panel small-12 medium-10 large-6 columns">
      <div class='panel-title light-blue small-12'>
        <span>Contacto</span>
      </div>
      <div class="panel-content row">
        <div class="small-12 columns">
          <div class="large-10 small-12 medium-12 colums end">
            <%= render partial: 'inputs/text_field', layout: 'layouts/input',
              locals: {
                model: model, label_text: 'Nombre', field: :nombre,
                object: record
              }
            %>
            <%= render partial: 'inputs/number_field', layout: 'layouts/input',
              locals: {
                model: model, label_text: 'Numero*', field: :numero,
                object: record
              }
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
