<div class="small-12 medium-12 large-12 column">
  <%= render partial: 'shared/flash_messages', locals: {flash: flash} %>
  <%=
    render partial: 'contacts/contact_form', layout: "layouts/form",
           locals: {
             record: @contact,
             model: :contact,
             url: @url
           }
  %>
</div>