<div class="row">
  <div class="columns small-12 large-12 large-centered">
    <%= link_to "Nuevo Contacto", new_contact_path, class: "button black" %>
    <%= link_to "Listas De Contactos", lists_path, class: "button black" %>
    <%= link_to "Enviar SMS", send_sms_index_path, class: "button black" %>
    <table id="lists" class="table" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">
            Contactos
          </th>
          <th class="action_column" />
        </tr>
        <tr>
          <th>Nombre</th>
          <th>Número</th>
          <th class="action_column" />
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr id="contact_<%= contact.id %>">
            <td><%= contact.try(:nombre) || '---' %></td>
            <td><%= contact.try(:numero) %></td>
            <td class="action_column">
              <div class="action_links" >
                <%= link_to "", contact, :class => "fa fa-search view_link" %>
                <%= link_to "", edit_contact_path(contact), class: 'fa fa-pencil edit_link' %>
                <%= link_to "",  contact, method: :delete, class: 'fa fa-trash delete_link', data: { confirm: '¿Está seguro de que quiere eliminar esto?'} %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
