<div class="row">
  <%= link_to 'Atras', contacts_path, class: 'button black' %>
  <%= link_to 'Editar', edit_contact_path(@contact), class: 'button black' %>
</div>
<div class="row">
  <div class='panel large-8 columns'>
    <div class='panel-title light-blue small-12'>
      <span>Contacto</span>
    </div>
    <div class='panel-content row'>
      <div class='small-12 large-12 columns'>
        <table id="contact" class="table" border="0" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th colspan="2">
                Contactos
              </th>
            </tr>
            <tr>
              <th>Nombre</th>
              <th>Número</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @contact.try(:nombre) || '---' %></td>
              <td><%= @contact.try(:numero) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
