<%= form_for(record, url: url ) do |f| %>
  <%= yield %>
  <div class="actions input_action">
    <%= f.submit "Guardar", class: "button black" %>
    <%= link_to "Cancelar", url, class: "button black cancel" %>
  </div>
<% end %>
