<%
  field_error = object.errors[field].first || ""
  clases = "#{clases}"
  position ||= 'default'
  moneda ||= nil
  object_name = ActiveModel::Naming.param_key(object)
  object_id = [object_name, field.to_s, 'input'].join('_')
%>
<% if position == 'default' && moneda.blank? %>
  <div class="row <%= clases %>" id="<%= object_id %>">
    <div class="small-5 column field-label">
      <%= label model, field, label_text, class: "right label" %>
    </div>
    <div class="small-7 column field-input">
      <%= yield %>
      <span class="inline-errors"><%=field_error.humanize %></span>
    </div>
  </div>
<% elsif position == 'default' && moneda.present? %>
    <div class="row <%= clases %>" id="<%= object_id %>">
    <div class="small-5 column field-label">
      <%= label model, field, label_text, class: "right label" %>
    </div>
    <div class="small-7 column postfix-round field-input">
      <div class="row collapse <%= clases %>">
        <div class="small-2 columns">
          <span class="prefix"><%= moneda %></span>
        </div>
        <div class="small-10 columns">
          <%= yield %>
          <span class="inline-errors"><%=field_error.humanize %></span>
        </div>
      </div>
    </div>
  </div>
<% else %>
    <div class="row <%= clases %>" id="<%= object_id %>">
    <div class="small-2 column field-input">
      <%= yield %>
      <span class="inline-errors"><%=field_error.humanize %></span>
    </div>
    <div class="small-10 column field-label">
      <%= label model, field, label_text, class: "right label" %>
    </div>
  </div>
<% end %>
