<%
  clases = clases || ''
  name_prefix ||= ''
  msg_error ||= nil
%>
<div class="row">
  <div class="small-5 columns field-label show-on-med-and-down hide-on-large">
    <%=label_tag(name_prefix, label_text, class: "has-many-label right label") %>
  </div>
  <div class="small-7 large-12 columns field-input ">
    <%= yield %>
    <% if msg_error.present? %>
      <span class="inline-errors"><%= msg_error %></span>
    <% end %>
  </div>
</div>
